---
const { title, url, pubDate, image } = Astro.props;
---

<article
  class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-8 pt-80 sm:pt-48 lg:pt-80">
  <img
    src={image}
    alt={title}
    class="absolute inset-0 -z-10 h-full w-full object-cover"
  />
  <div class="absolute inset-0 -z-10 bg-gradient-to-t from-darkest"></div>

  <div
    class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">
    <time datetime={pubDate} class="mr-8 text-white"> {pubDate}</time>

  </div>
  <h3 class="mt-3 text-lg font-semibold lg:text-2xl  leading-6 text-white">
    <a href={url} title={title}>
      <span class="absolute inset-0"></span>
      {title}

    </a>
  </h3>
</article>
